.checkoutPage {
  background-color: #fff;
  padding: 0 80px;
  overflow: hidden;
}

.contentWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.formSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  margin-top: 20px;
}

.logo {
  width: 126px;
  height: auto;
  object-fit: contain;
}
