:root {
    --black: rgba(39, 39, 39, 1);
    --green: rgba(86, 178, 128, 1);
    --white: rgba(255, 255, 255, 1);
    --hover: #dad3be
}


.mainContainer {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

/* Cart Content */
.cart-content {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.cartTable {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

.cartHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.cartHeader a {
    color: #56b280;
}

.cartHeader h2 {
    color: var(--black);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 58px;
    left: 0;
    line-height: 57.6px;
    position: relative;
}

.backLink {
    color: #56b280;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

/* Cart Table */
.cartTable {
    width: 100%;
    border-collapse: collapse;
}

.cartTable tr {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.cartItem {
    height: 48px;
    position: relative;
    width: 1110px;
}

.heaingTable {
    height: 48px;
    left: 0;
    position: relative;
    top: 0;
    width: 1118px;
}

.headingTable th {
    color: var(--black);
    font-family: "Roboto-Medium", Helvetica;
    font-size: 16px;

    width: 25%;
    /* Ensure each header cell takes up equal space */
    text-align: left;
    /* Align text to the left */
    padding: 10px;
    /* Add padding for better spacing */
}

.product {
    left: 0;
    padding: 10px;
}

.productRowName {
    min-width: 280px;
}

/*/* Datas */
/* Image */
.productImage {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure any overflow is hidden */
    padding: 10px;
}

.productImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Name */
.productName{
    align-self: flex-start;
    padding: 10px;
    border: none;
    padding: 0;
    font: inherit;
}

.productName p{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px;
}

.productName button {
    color: var(--green);
    background: none;
    border: none;
}

.productName button:hover {
    color: var(--hover);
    cursor: pointer;
}

.cart-item-details {
    flex: 1;
    margin-left: 20px;
}

.cart-item-name {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-item-remove {
    color: #56b280;
    text-decoration: none;
}


/* Summary Section */
.cartSumary {
    margin-top: 30px;
    margin-left: auto;
    padding: 0 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.subtotal {
    align-items: left;
    margin-left: auto;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}
.sumPrice {
    color: var(--green);
}
.cartNotice {
    font-size: 14px;
    color: #808080;
    text-align: right;
}

.checkout {
    display: flex;
    margin-left: 10px;
    align-items: center;
    padding: auto;
}

.checkoutButton {
    background-color: #56b280;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px; 
}

.checkoutButton:hover {
    background-color: var(--hover);
}

/* quantity column */

.quantity {
    width: 100px;
    margin: 10px 0;
    display: fixed;
    align-items: center;
}

.quantity button {
    padding: 5px;
    color: #56B280;
    border: none;
    cursor: pointer;
    font-size: large;
    align-items: center;
}

.quantity span {
    margin: 0 20px;
    display: fixed;
}