.feedbackForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.starRating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.star {
  cursor: pointer;
  transition: fill 0.2s;
}

.commentBox textarea {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submitBtn {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #218838;
}

.feedbackPreview {
  margin-top: 20px;
}
